<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bit.project.eazip.mapper.local.LocalMapper">

    <select id="selectList" resultType="bit.project.eazip.domain.home.HomeDTO">
        SELECT * from gangnam0712;
    </select>

    <select id="selectData" resultType="bit.project.eazip.domain.home.HomeDTO">
        select * from gangnam0712 where idx = #{idx}
    </select>

    <select id="filterPrice" parameterType="bit.project.eazip.domain.home.FilterDTO" resultType="bit.project.eazip.domain.home.HomeDTO">
        select * from gangnam0712 where type = #{type} and category1 = #{category1} and price <![CDATA[<=]]> #{maxprice} and price <![CDATA[>=]]> #{minprice} and room_number = #{room_number};
    </select>

    <select id="filterMonthly" parameterType="bit.project.eazip.domain.home.FilterDTO" resultType="bit.project.eazip.domain.home.HomeDTO">
        select * from gangnam0712 where type = #{type} and category1 = #{category1} and price <![CDATA[<=]]> #{maxprice} and price <![CDATA[>=]]> #{minprice} and monthly = 0 or (monthly <![CDATA[<=]]> #{maxmonthly} and monthly <![CDATA[>=]]> #{minmonthly}) and room_number = #{room_number};
    </select>



    <insert id="insertRoomFiltering" parameterType="bit.project.eazip.domain.home.HomeDTO">
        insert into `table`
        select * from test0719 where type = #{type} and category1 = #{category1} and price <![CDATA[<=]]> #{price} and room_number = #{room_number};
    </insert>

    <select id="filtering" resultType="bit.project.eazip.domain.home.HomeDTO">
        select * from `table`;
    </select>

    <select id="selectIdx" resultType="bit.project.eazip.domain.home.HomeDTO">
        select idx from test0719;
    </select>

    <insert id="insertData" parameterType="bit.project.eazip.domain.home.HomeDTO">
        insert into `table`
        select * from test0719 where idx=#{idx};
    </insert>
</mapper>
