<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bit.project.eazip.mapper.mypage.MypageMapper">

    <select id="getHistoryHome" resultType="bit.project.eazip.domain.home.HomeDTO">
        SELECT * from gangnam0712 WHERE idx IN
        <foreach collection="collection" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

    <select id="getFavoriteHome" resultType="bit.project.eazip.domain.home.HomeDTO">
        SELECT * from gangnam0712 WHERE idx IN
        <foreach collection="collection" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>



    <select id="getHistoryIdx" resultType="String">
        SELECT history from usertbl WHERE id =#{userId}
    </select>


    <select id="getFavoriteIdx" resultType="String">
        SELECT favorite from usertbl WHERE id =#{userId}
    </select>

    <insert id="updateHistoryIdx">
        update usertbl set history =
                               #{param1}
        where id = #{param2}
    </insert>

    <insert id="updateFavoriteIdx">
        update usertbl set favorite =
                               #{param1}
        where id = #{param2}
    </insert>



</mapper>