<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bit.project.eazip.mapper.SampleMapper">

    <select id="selectData" resultType="bit.project.eazip.domain.SampleDTO">
        SELECT * from hospital_tbl where name = "서울유병원";
    </select>

    <select id="selectList" resultType="bit.project.eazip.domain.SampleDTO">
        select * from hospital_tbl where name LIKE "서울%";
    </select>
</mapper>