.modal,
.overlay {
    width: 380px;
    height: 450px;
    background: #fff;
    z-index: 101;
    top: 60px;
    left: 525px;
    position: absolute;
    border: 3px solid #FF9431;
    border-radius: 15px;
}